# Ignorar ambientes virtuais
.venv/

# Ignorar caches e arquivos Python compilados
__pycache__/
*.py[cod]

# Arquivos de ambiente
.env

#ignora arquivos de dados
data/

#ignora o script ps
setup.ps1

